/* Mobile Navigation setup */

/* In this segment I introduce the skip to main element */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
/* I utilized W3W's How To - Mobile Navigattion Menu (https://www.w3schools.com/howto/howto_js_mobile_navbar.asp) to set up this hamburger drop dowm menu design */
  .topnav {
    background-color: whitesmoke;
    position: relative;
  }
  
  .topnav #myLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks li {
    display: block;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 2% 2%;
    /* width: 100%; */
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: whitesmoke;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(112, 128, 132);
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgb(142, 168, 175);
    color: white;
  }

/* Below is the general styling I used for the general elemenetas across all of my wbsite pages. */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


header{
  padding: 15px 10px 15px 0px;
  margin: 10px;
}

h1 {
  font-weight: bolder;
  color: whitesmoke;
  font-size: 7vw;
}

h2 {
  font-size: 6vw;
  margin: 10% 10% 10% 10%;
  color: brown;
  /* padding: 5%; */

}

p {
  color:black;
  font-size: 4vw;
  font-family: sans-serif;
  margin: 2% 10% 2% 10%;
}

ol {
  list-style-type: upper-roman;
}
ol li {
  float: none;
  margin: 1% 10% 1% 15%;
}

#head.greeting {
  text-align: center;
  margin: 0 auto;
  padding: 5%;
  width: 80%;
  background-color: rgb(192, 118, 118);
  border: none 1px solid;
  border-radius: 10px;
}

.greeting p {
  color: black;
  /* margin: 2% 10% 2% 10%; */
}

#scroll.greeting {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 2%;
  width: 70%;
  border-radius: 10px;
}

/* Clubs Slideshow Styling */
.paradise .zero .three .flame {
  margin: 0px auto;
}

img{
  width: 100%;
  margin: 0 auto;
  height: 400px;
  object-fit:contain;
}
.gallery {
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  position: relative;
  width: 100%;
}
.button-right, .button-left {
  position: absolute;
  background-color: midnightblue;
  transform: translateY(-50%);
  cursor: pointer;
  top: 50%;
  /* border: 0px solid black; */
  /* border-radius: 50%; */
  color: white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.gallery img {
  width: 90%;
}

.button-right {
  right: 2%;
}
.button-left {
  left: 2%;
}

/* Welcome Page Parallax Feature */
html{
  scroll-behavior: smooth;
}

#scroll{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  /* max-height: 600px;
  width: 100%; */
  background-size: cover;
  height: 300px;
  /* overflow:visible; */
  background-color: none;
  text-align: center;
}

#scroll img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}

#scroll p {
  color: white;
  text-align: center;
  font-size: 2vw;
  font-weight: normal;
  width: 80%;
}

#welc{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

#welc div:first-child{
  grid-column: 2 / span 1;
  background-image: url("../img/Ted Buckner Band at Club Three Sixes copy.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 600px;
  width: 100%;
  overflow:visible;
}

#history {
  grid-column: 2 / span 1;
}

#engage{
  grid-column: 2 / span 1;
}

#contact{
  grid-column: 2 / span 1;
}

form {
  display: grid;
  grid-template-columns: 100%;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: midnightblue;
  background: whitesmoke;
}

label {
  color: brown;
  font-weight: bold;
}

#email, #name, #subject {
  grid-column: 1 / span 1;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background: white;
  color: midnightblue;
}

#message {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 90%;
  padding: 10px;
  resize: vertical;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="submit"], input [type=button] {
  width: 100%;
  padding: 10px;
  background-color: rgb(199, 86, 45);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(199, 86, 45);
}

input [type="radio"] {
  margin: 10px;
  width: 200%;
}
input [type=button] {
  padding: 15px;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
/* Project Description page css styling */


.venue img{
  display: none;
}
.per li{
  font-size: 2vw;
}


.venue {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 15px;
  justify-items: center;
  height: 600px;
 }
 
 .venue img{
   display: block;
   width: 100%;
   height: 100%;
   /* padding: 10px; */
   margin: 0;
   object-fit: cover;
   border: 0px solid black;
   border-radius: 10%;
 }
 
 .venue div:first-child{
   grid-column: 1 / -1;
 }
 
 .focus-img, .focus-text{
   grid-column: 2 /  span 1;
   grid-row: 2;
 }
 
 .consid-img, .consid-text{
   grid-column: 2 /  span 1;
   grid-row: 3;
 }
 
 .criteria-img, .criteria-text{
   grid-column: 2 /  span 1;
   grid-row: 4;
 }
 
 .target-img, .target-text{
   grid-column: 2 /  span 1;
   grid-row: 5;
 }
 
 .per-img, .per-text{
   grid-column: 2 /  span 1;
   grid-row: 6;
 }
 
 .venue div:last-child{
   grid-column: 1 / -1;
 }
 
 .focus-text, .consid-text, .criteria-text, .target-text, .per-text {
   background-color: rgba(255, 255, 255, .8);
   border: 1px solid black;
   border-radius: 10%;
   overflow: auto;
   /* padding: 10px; */
   width: 100%;
   /* text-align: center; */
   margin: 0;
 }


@media screen and (min-width: 786px) {

  .topnav {
    background-color: whitesmoke;
    overflow: hidden;
  }

  .topnav #myLinks { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }

  .topnav #myLinks li {
    display: inline-block;
    /* margin-right: 20px; */
  }

  /* .topnav .active {
    background-color: rgb(142, 168, 175);
    color: black;
  } */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  
  .topnav a.icon {
    display: none;
  }

  .topnav a:hover {
    background-color: rgb(112, 128, 132);
    color: black;
    /* font-weight: bold; */
}
  .active {
    background-color: rgb(142, 168, 175);
    color: white;
    /* display:inline-block; */
  }
  /* .active li {
    display: inline-block;
  } */

  .topnav ul{
    text-align: center;
    width:auto ;
  } 

  /* Adjjust Parallex height  */
  #scroll{
    height: 600px;
  }
  /* Adjust font sizes */
  p{
    font-size: 3vw;
  }
/* Include grid for Project Description Page */

  .venue {
  display: grid;
  grid-template-columns: 50px auto 500px auto 50px;
  grid-gap: 15px;
  justify-items: center;
  height: 600px;
  }


  .venue div:first-child{
    grid-column: 1 / -1;
  }

  .focus-img, .focus-text{
    grid-column: 2 /  span 2;
    grid-row: 2;
  }

  .consid-img, .consid-text{
    grid-column: 3 /  span 2;
    grid-row: 3;
  }

  .criteria-img, .criteria-text{
    grid-column: 2 /  span 2;
    grid-row: 4;
  }

  .target-img, .target-text{
    grid-column: 3 /  span 2;
    grid-row: 5;
  }

  .per-img, .per-text{
    grid-column: 2 /  span 2;
    grid-row: 6;
  }

  .venue div:last-child{
    grid-column: 1 / -1;
  }

  .focus-text, .consid-text, .criteria-text, .target-text, .per-text {
    background-color: rgba(255, 255, 255, .8);
    border: 2px solid black;
    border-radius: 10%;
    overflow: auto;
    /* padding: 10px; */
    width: 100%;
    /* text-align: center; */
    margin: 0;
  }


  }


@media screen and (min-width: 850px) {
  
  h2 {
    /* font-size: 2vw; */
    margin: 15% 10% 7% 10%;
    color: brown;
    /* padding: 5%; */
  }

  .button-right {
    right: 37%;
    top: 106%;
  }
  .button-left {
    left: 37%;
    top: 106%;
  }
  .gallery img {
    height: 600px;
  }

  .venue {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    height: 400px;
    padding: 5%;
   }
  
   .venue div:first-child{
  grid-column: 1 / -1;
  }

  .focus-img, .focus-text{
  grid-column: 1 /  span 4;
  grid-row: 2;
  }

  .consid-img, .consid-text{
  grid-column: 3 /  span 4;
  grid-row: 3;
  }

  .criteria-img, .criteria-text{
  grid-column: 1 /  span 4;
  grid-row: 4;
  }

  .target-img, .target-text{
  grid-column: 3 /  span 4;
  grid-row: 5;
  }

  .per-img, .per-text{
  grid-column: 1 /  span 4;
  grid-row: 6;
  }

  .venue div:last-child{
  grid-column: 1 / -1;
  }
}



@media screen and (min-width: 1023px) {
  
  .button-right {
    right: 37%;
    top: 107%;
  }
  .button-left {
    left: 37%;
    top: 107%;
  }
  .gallery img {
    height: 600px;
  }

  h2 {
    /* font-size: 2vw; */
    margin: 15% 10% 7% 10%;
    color: brown;
    /* padding: 5%; */
  }

  p{
    font-size: 2vw;
  }
  .venue {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    height: 600px;
   }
  
   .venue div:first-child{
  grid-column: 1 / -1;
  }

  .focus-img, .focus-text{
  grid-column: 2 /  span 1;
  grid-row: 2;
  }

  .consid-img, .consid-text{
  grid-column: 3 /  span 1;
  grid-row: 2;
  }

  .criteria-img, .criteria-text{
  grid-column: 4 /  span 1;
  grid-row: 2;
  }

  .target-img, .target-text{
  grid-column: 2 /  span 1;
  grid-row: 3;
  }

  .per-img, .per-text{
  grid-column: 3 /  span 1;
  grid-row: 3;
  }

  .venue div:last-child{
  grid-column: 1 / -1;
  }
}